cairocffi==0.7.2
CairoSVG==1.0.20
cffi==1.6.0
cssselect==0.9.1
Django==1.9.4
django-tinymce==2.3.0
html5lib==0.9999999
lxml==3.6.0
Pillow==3.1.1
pisa==3.0.33
pycparser==2.14
PyPDF2==1.26.0
Pyphen==0.9.4
reportlab==3.3.0
six==1.10.0
tinycss==0.3
WeasyPrint==0.28
xhtml2pdf==0.0.6

