{% extends 'static.html' %}
{% block title%} programas {%endblock %}

{%  block content %}


 </div><!-- Main Content -->


    <header class="intro-header" style="background-image: url('static/img/encabazado6.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1></h1>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="listado_programas?programa=1">
                        <h2 class="post-title">
                            Recuperacion nutrcional
                        </h2>

                </div>
                <hr>
                <div class="post-preview">
                    <a href="listado_programas?programa=3">
                        <h2 class="post-title">
                            Desayunos infantiles con amor
                        </h2>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="listado_programas?programa=2">
                        <h2 class="post-title">
                            Nutrir
                        </h2>
                        <h3 class="post-subtitle">

                        </h3>
                    </a>
                <hr>
                <div class="post-preview">
                    <a href="listado_programas?programa=4">
                        <h2 class="post-title">
                            Girardot avanza por una alimentacion saludable
                        </h2>

                    </a>

                </div>

                <!-- Pager -->
            </div>
        </div>
    </div>



  {% endblock %}