
{% extends 'plantilla_menu.html' %}

{% block content %}
    <div class="row">
		<div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/menu">Inicio</a>
                </li>
                <li>
                    <i class="fa fa-folder-open"></i> Beneficiarios
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Registro
                </li>
            </ol>
			<h1 class="page-header">
				Registro de beneficiarios <small></small>
			</h1>
		</div>
    </div>

    <!-- /.row -->
    <div class="col-lg-12">
        <div class="row">
        {% if indicador == 0 %}
            <div class="alert alert-danger fade in" id="respuesta">
                <i class="fa fa-info-circle"></i> <strong>  {{ respuesta }}</strong>
        {% elif indicador == 1 %}
            <div class="alert alert-success fade in" id="respuesta">
                <i class="fa fa-info-circle"></i> <strong>  {{ respuesta }}</strong>
        {% else %}
            <div class="alert alert-info fade in" id="respuesta">
                <i class="fa fa-info-circle"></i> <strong>  Favor diligencie los siguientes campos para almacenar su registro</strong>
        {% endif %}
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel central-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Formulario (favor diligenciar todos los campos)
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal" id="form-beneficiario" name="form-beneficiario" method="post" action="guardar_beneficiario">
                        {% csrf_token %}
                            <div class="col-xs-12 form-group seccion">
                                <div class="col-md-12">
                                    <div class="col-sm-12 form-group">
                                        <div class="col-xs-2">
                                            <label>Programa:</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" id="programa" name="programa" required>
                                                <option value="">Seleccione</option>
                                                {% for p in programa %}
                                                    <option value="{{ p.id }}">{{ p.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="col-xs-2">
                                            <label>Nombre:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <input name="nombre" id="nombre" class="form-control" type="text" required />
                                        </div>
                                        <div class="col-xs-1">
                                            <label>Apellido:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <input name="apellido" id="apellido" class="form-control" type="text" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="col-xs-2">
                                            <label>Tipo de documento:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <select class="form-control" id="documento" name="documento" required>
                                                <option value="">Seleccione</option>
                                                {% for d in documento %}
                                                <option value="{{ d.id }}">{{ d.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-1">
                                            <label>Número:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <input class="form-control" name="numero_documento" id="numero_documento" type="text" required />
                                        </div>
                                    </div>
                                    <div  class="col-xs-12 form-group">
                                        <div class="col-xs-2">
                                            <label>Fecha de nacimiento:</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <input class="form-control fechanacimiento" id="fecha_nacimiento" name="fecha_nacimiento" type="text" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="col-xs-2">
                                            <label>Dirección:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <input class="form-control" id="direccion" name="direccion"  type="text" required />
                                        </div>
                                        <div class="col-xs-1">
                                            <label>Comuna:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" id="comunas" name="comuna" required>
                                                <option value="">Seleccione</option>
                                                {% for c in comuna %}
                                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="col-xs-2">
                                            <label>Barrio:</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="barrio" id="barrio">
                                                <option value="">Seleccione</option>
                                                <option value="0">barrios</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div  class="col-xs-12 form-group">
                                        <div class="col-xs-2">
                                            <label>Eps:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" id="eps" name="eps" required>
                                                <option value="">Seleccione</option>
                                                {% for e in eps %}
                                                    <option value="{{ e.id }}">{{ e.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div  class="col-xs-12 form-group">
                                        <div class="col-xs-2">
                                            <label>Genero:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="genero" value="M" /> Masculino
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="genero" value="F" /> Femenino
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-2">
                                            <button id="guardar" class="btn btn-success btn-lg btn-block" type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}