{% extends 'static.html' %}
{% block title%} PAGINA INICIAL {%endblock %}

{%  block content %}

  <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Resultados de la búsqueda</li>
    </ol>



 <div class="pagination-centered">
    <nav>
        <ul class="pagination">
            <li>
              {% if beneficiarios.has_previous %}
                <a href="{% url 'search' %}?filter={{filtro}}&page={{ beneficiarios.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
              {% else %}
              <a href="{% url 'search' %}?filter={{filtro}}&page=1" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
              {% endif %}
            </li>
            {% for page in paginador.page_range %}
            <li><a href="{% url 'search' %}?filter={{filtro}}&page={{ page }}">{{ page}}</a></li>
            {% endfor %}
            <li>
                {% if beneficiarios.has_next %}
                <a href="{% url 'search' %}?filter={{filtro}}&page={{ beneficiario.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% else %}
                <a href="{% url 'search' %}?filter={{filtro}}&page={{ paginador.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif%}
            </li>
        </ul>
    </nav>

 </div><!-- Main Content -->

    <div class="container initial">
    <ol class="breadcrumb">
        <li class="active">Inicio</li>
    </ol>
    <header class="intro-header" style="background-image: url('static/img/encabazado6.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>DESAYUNOS CON AMOR</h1>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="{% url 'post' %}">
                        <h2 class="post-title">
                            Recuperacion nutrcional
                        </h2>

                </div>
                <hr>
                <div class="post-preview">
                    <a href="{% url 'post' %}">
                        <h2 class="post-title">
                            Desayunos infantiles con amor
                        </h2>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="{% url 'post' %}">
                        <h2 class="post-title">
                            Nutrir
                        </h2>
                        <h3 class="post-subtitle">

                        </h3>
                    </a>
                <hr>
                <div class="post-preview">
                    <a href="{% url 'post' %}">
                        <h2 class="post-title">
                            Girardot avanza por una alimentacion saludable
                        </h2>

                    </a>

                </div>

                <!-- Pager -->
            </div>
        </div>
    </div>



  {% endblock %}