{% extends 'static.html' %}
{% block title%} PAGINA INICIAL {%endblock %}

{%  block content %}

  <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Resultados de la búsqueda</li>
    </ol>

    <div class="alert alert-success" role="alert">

        {% if beneficiarios.count == 1 %}
        <p class="alert-link">Resultados encontrados por "{{ filtro }}"  {{ beneficiarios.count }} Persona encontrada</p>

        {% elif beneficiarios.count > 1 %}
        <p class="alert-link">Resultados encontrados por "{{ filtro }}"  {{ beneficiarios.count }} Personas encontradas</p>
        {% else%}
        <p class="alert-link">En total {{ beneficiarios.count }} Encontrados</p>
        {% endif %}


    </div>
 <div class="row placeholders">
    {% for beneficiario in beneficiarios %}

        <div class="col-sm-3 placeholder">
            <h4 ><a href="index.html">{{ beneficiario.nombres }}</a></h4>
            <span class="text-muted">{{ beneficiario.documento }}</span>
        </div>

     {% endfor %}

 </div><!-- Main Content -->

    <div class="container initial">
    <ol class="breadcrumb">
        <li class="active">Inicio</li>
    </ol>
    <header class="intro-header" style="background-image: url('static/img/encabazado6.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>DESAYUNOS CON AMOR</h1>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="{% url 'post' %}">
                        <h2 class="post-title">
                            Recuperacion nutrcional
                        </h2>

                </div>
                <hr>
                <div class="post-preview">
                    <a href="{% url 'post' %}">
                        <h2 class="post-title">
                            Desayunos infantiles con amor
                        </h2>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="{% url 'post' %}">
                        <h2 class="post-title">
                            Nutrir
                        </h2>
                        <h3 class="post-subtitle">

                        </h3>
                    </a>
                <hr>
                <div class="post-preview">
                    <a href="{% url 'post' %}">
                        <h2 class="post-title">
                            Girardot avanza por una alimentacion saludable
                        </h2>
                        <h3 class="post-subtitle">
                           
                        </h3>
                    </a>

                </div>
                <hr>
                <!-- Pager -->
            </div>
        </div>
    </div>

    <hr>

  {% endblock %}