{% extends 'static.html' %}
{% block title%}LOGIN{%endblock %}

{%  block content %}

<!-- Main Content -->
<div class="container initial">

    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li class="active">Ingresar</li>
    </ol>

    {% if error %}
      <div class="alert alert-danger"> {{ error }} </div>
    {% endif %}

    <div class="box_signin">
        <form class="form-signin" action="" method="post">
            {% csrf_token %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
            <h2 class="form-signin-heading text-center">Ingresar</h2>

            <hr />
            <p>¿Todavía no te has registrado? <a href="{% url 'contact' %}">Regístrate!</a></p>
            <label for="id_usuario">Usuario</label>
            <input type="text" name="usuario" class="form-control" id="id_usuario" placeholder="usuario"></h4>
            <label for="id_clave">Contraseña</label>
            <input type="password" name="clave" class="form-control" id="id_clave" placeholder="contraseña"></h4>

            <br />
            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
            </p>
                </div>
                </div>
            </div>
        </form>
    </div>
    </div>



{% endblock %}
